body{
    background-color: #15181d;
}

/**
 MINIGAME SQUARES
 */

.streaks {
    display: block;
    margin: 80px auto 40px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #028000;
    padding: 12px;
    border-radius: 18px;
}
.best_time,
.time {
    display: inline-block;
    width: 100px;
}
.streaks .fa {
    padding: 0 10px;
}
.options{
    font-weight: bold;
    text-align: center;
    margin: 0 auto 10px;
}
.option{
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 20px;
    background-color: #20282e;
    padding: 10px 20px;
    margin: 0 auto 10px;
    border-radius: 6px;
}
.option.grid input,
.option.speed input{
    vertical-align: text-top;
}
.speed_value{
    display: inline-block;
    width: 18px;
    text-align: right;
}
.grid_value{
    display: inline-block;
    width: 40px;
    text-align: center;
}
.minigame{
    margin: 0 auto 20px;
    width: 540px;
    min-width: 540px;
    max-width: 540px;
    height: 540px;
    min-height: 540px;
    max-height: 540px;
    background-color: #232832;
}
.splash{
    display: inline-block;
    width: 100%;
    margin: 220px auto;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
}
.splash .hacker{
    font-size: 65px;
    margin-bottom: 30px;
}
.groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
}
.group{
    width: 74px;
    height: 74px;
    border: 8px #232832 solid;
    background-color: #34475C;
}
.jewelry .group{
    width: 92px;
    height: 92px;
}
.proper{
    background-color: #006600;
}
.good{
    background-color: #CCCCCC;
}
.bad{
    background-color: #F00F18;
}
.hidden {
    display: none;
}
.restart{
    font-family: sans-serif;
    text-align: center;
}
.btn_again {
    padding: 6px 15px;
    font-weight: bold;
}
.credits{
    font-family: sans-serif;
    text-align: center;
    color: gray;
    margin-top: 40px;
}
.credits a{
    color: #ccc;
}
.credits b{
    color: white;
}
.credits .fas{
    color: red;
}
