body{
    background-color: #15181d;
}
.minigame{
    margin: 0 auto 20px;
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    padding: 30px;
    background-color: #20282e;
}
.groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    width: 130px;
    height: 130px;
    margin: 20px 20px;
    padding: 15px;
    font-size: 25px;
}
.group input{
    width: 20px;
    font-size: 25px;
    text-align: center;
    background-color: black;
    border: 1px solid #333;
    color: white;
}
.envelope{
    background-color: black;
    display: inline-block;
    width: 160px;
    height: 40px;
    padding: 5px 5px 5px 20px;
    margin: 10px 5px;
}
.envelope-placeholder{
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 5px 5px 5px 20px;
    margin: 5px 5px -31px;
    border: 1px solid black;
}
.envelope select,
.group select{
    height: 32px;
    font-size: 22px;
    background-color: black;
    color: white;
    vertical-align: top;
    padding-bottom: 2px;
}
.envelope select{
    height: 40px;
    font-size: 32px;
}
.envelope select[disabled] {
    text-align-last: center;
    min-width: 30px;
    opacity: 1;
    appearance: none;
}
.envelope > select:nth-of-type(1n+2){
    width: 45px;
}
.envelope option,
.group option{
    padding: 2px 0 1px;
}
.group .fa{
    font-family: "Font Awesome 5 Free", sans-serif;
}
.group span{
    color: white;
}
.group > div{
    padding-top: 2px;
}
.group .fixed{
    display: inline-block;
    font-family: sans-serif;
    color: white;
    width: 26px;
    height: 33px;
    text-align: center;
}
.group .position{
    color: lightgreen;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: -30px;
    padding: 0;
}

.step,
.solution{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.step{
    font-size: 25px;
}
.step span{
    color: lightgreen;
}
.step:nth-of-type(1n+2){
    margin-top: 30px;
}
.minigames_order,
.solution_order{
    font-size: 40px;
    padding: 20px 0;
}
.minigames_verbose{
    font-size: 30px;
    margin: 0 auto;
    width: 650px;
    text-align: left;
    text-transform: none;
    line-height: 40px;
}
.minigames_verbose .fa{
    display: inline-block;
    width: 32px;
    text-align: center;
}
.buttons{
    margin: 20px 0;
    text-align: center;
}
.buttons button{
    font-size: 30px;
    text-transform: uppercase;
}
.credits{
    font-family: sans-serif;
    text-align: center;
    color: gray;
}
.credits a{
    color: #ccc;
}
.credits b{
    color: white;
}

.hidden {
    display: none!important;
}